@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Events
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-area="" asp-action="All" asp-controller="Event">All</a></li>
                <li><a class="dropdown-item" href="#">Add</a></li>
            </ul>
        </li>
    }
    else
    {
        <script>window.location.href = '@Url.Content("~/")';</script>
    }
</ul>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>