################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SurRon/FileContentIndex/3dd1e52c-faea-46d8-9671-bc91531b9fe5.vsidx
