################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SurRon/FileContentIndex/3dd1e52c-faea-46d8-9671-bc91531b9fe5.vsidx
/.vs/SurRon/FileContentIndex/c9b950d8-1443-4e4c-ad12-9e88f4ac52be.vsidx
*.vsidx
