@{
    ViewData["Title"] = "Home Page";
}

<body>
    <video id="mediaPlayer" autoplay loop muted>

        <source src="~/Media/Videos/PromoVid_SemiOfficial.mp4" type="video/mp4" />
        "browser doesn't support html5'"
    </video>

    <div class="text-center" id="homePageDiv">

        <h1 class="display-4"><u>Welcome To SurRon</u></h1>

        <p style="padding-top: 3rem; font-weight: bold; font-size: 1.25rem">
            Заповядайте в ОФИЦИАЛНИЯТ сайт за собственици на SurRon. Тук може да се регистрирате и да следите всичко,  което е необходимо за вашият мотор.
            Можете да следите вашата гаранция или да видите кога и какво сте правили по вашият мотор. Най-важното тепърва предстои!
            Сега вече можете и да запазите вашият индивидуален час за ремонт или гаранционна проверка като видите кога има свободна дата и час,
            но внимавайте да не надвишавате предвидените километри.
        </p>
    </div>
</body>

<link href="@Url.Content("~/css/HomeView.css")" rel="stylesheet" type="text/css" />
