footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.form-group {
    padding-top: 1.5rem;
}

#mediaPlayer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 1;
    z-index: -1;
}

#homePageDiv h1 {
    padding-top: 20px;
    font-weight: 900;
    color: white;
}

#homePageDiv p {
    font-family: cursive;
    color: white;
}

#navbar a, li, button {
    color: white;
}